<div class="wrapper">
	<h2>Your search <b>{{query}}</b> did not match any documents.</h2>
	<div class="content">
		<p>
			We will crawl the social web with this search term again in the upcoming hours.<br/>
			Please check back again later. In the meantime please try the following to get relevant results.
		</p>

		<ul>
			<li>Make sure that all words are spelled correctly.</li>
			<li>Try different keywords, accounts or hashtags.</li>
			<li>Try more general keywords, accounts or hashtags.</li>
		</ul>
	</div>
</div>
