<md-card *ngIf="(userCard)" class="user-card">
	<img md-card-image src="{{ apiResponseUser.profile_banner_url }}/600x200">

	<md-card-title-group>
		<img md-card-sm-image [src]="profileImageSrc" width="40"/>
		<md-card-title>{{ apiResponseUser.name }}</md-card-title>
		<md-card-subtitle>@{{ apiResponseUser.screen_name }}</md-card-subtitle>
	</md-card-title-group>

	<md-card-content>
		<div class="info website" *ngIf="apiResponseUser.entities.url">
			<md-icon>language</md-icon>
			<a href="{{ apiResponseUser.entities.url.urls[0].url }}">{{ apiResponseUser.entities.url.urls[0].expanded_url }}</a>
		</div>

		<div class="info location" *ngIf="apiResponseUser.location">
			<md-icon>location_on</md-icon>
			{{ apiResponseUser.location }}
		</div>

		<div class="info tweets">
			<svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
				<path d="
					M 630, 425
					A 195, 195 0 0 1 331, 600
					A 142, 142 0 0 0 428, 570
					A  70,  70 0 0 1 370, 523
					A  70,  70 0 0 0 401, 521
					A  70,  70 0 0 1 344, 455
					A  70,  70 0 0 0 372, 460
					A  70,  70 0 0 1 354, 370
					A 195, 195 0 0 0 495, 442
					A  67,  67 0 0 1 611, 380
					A 117, 117 0 0 0 654, 363
					A  65,  65 0 0 1 623, 401
					A 117, 117 0 0 0 662, 390
					A  65,  65 0 0 1 630, 425
					Z"/>
			</svg>
			{{ apiResponseUser.statuses_count }}
		</div>

		<div class="info likes">
			<md-icon>favorite</md-icon>
			{{ apiResponseUser.favourites_count }}
		</div>
	</md-card-content>
</md-card>

<md-card class="info-card"
	*ngIf="!(userCard) &&
				(aggregatedHashtags.length > 0 || aggregatedMentions.length > 0 || aggregatedScreenName.length > 0)">
	<div id="hashtags" *ngIf="aggregatedHashtags.length > 0">
		<h4>Top Hashtags</h4>
		<div class="outer-wrapper">
			<div class="wrapper">
				<div *ngFor="let hashtag of aggregatedHashtags" class="entry">
					<md-chip-list>
						<md-chip>{{hashtag.value}}</md-chip>
					</md-chip-list>
					<a [routerLink]="['/search']" [queryParams]="{ query : '#' + hashtag.key }">#{{hashtag.key}}</a>
				</div>
			</div>
		</div>
	</div>

	<div id="mentions" *ngIf="aggregatedMentions.length > 0">
		<h4>Top Mentions</h4>
		<div class="outer-wrapper">
			<div class="wrapper">
				<div *ngFor="let hashtag of aggregatedMentions" class="entry">
					<md-chip-list>
						<md-chip>{{hashtag.value}}</md-chip>
					</md-chip-list>
					<a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + hashtag.key }">@{{hashtag.key}}</a>
				</div>
			</div>
		</div>
	</div>

	<div id="tweeters" *ngIf="aggregatedScreenName.length > 0">
		<h4>Top Tweeters</h4>
		<div class="outer-wrapper">
			<div class="wrapper">
				<div *ngFor="let hashtag of aggregatedScreenName" class="entry">
					<md-chip-list>
						<md-chip>{{hashtag.value}}</md-chip>
					</md-chip-list>
					<a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + hashtag.key }">{{hashtag.key}}</a>
				</div>
			</div>
		</div>
	</div>

	<div id="chart">

	</div>
</md-card>
