			<div class="overlay">
				<div class="overlay-content">
					<button class="lightbox-close" (click)="hideLightBox.emit()">x</button>
					<a href="{{profileURL}}" target="_blank" id="profile-link">
                        <img class="lightbox-img" src="{{feedItem.user.profile_image_url_https}}"/>
                        </a>
                    <a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + feedItem.user.screen_name }" (click)="hideLightBox.emit()" id="profile-link">
					<h3 class="lightbox-name">{{profileName}} <span class="lightbox-timestamp">
						{{datetime}}
					</span></h3>
						<p class="lightbox-nickname">@{{feedItem.user.screen_name}}</p>
                    </a>
						<p class="lightbox-tweet">
							<feed-linker
								[text]="itemText || ''"
								[hashtags]="feedItem.hashtags || []"
								[mentions]="feedItem.mentions || []"
								[links]="feedItem.links || []"
								[unshorten]="feedItem.unshorten || {}"
								(onShowed)="onShowed($event)">
							</feed-linker>
						</p>
                    <div class="lightbox-actions">
                    <div class="lightbox-action lightbox-reply lightbox-space">
					<a target="_blank" href="https://twitter.com/intent/tweet?in_reply_to={{feedItem.id_str}}"><i class="material-icons lightbox-md-20">reply</i></a>
				</div>
				<div class="lightbox-action lightbox-retweet lightbox-space">
					<a target="_blank" href="https://twitter.com/intent/retweet?tweet_id={{feedItem.id_str}}"><i class="material-icons lightbox-md-20">repeat</i></a>
					<div class="lightbox-counter lightbox-retweet-count">
						{{retweetCount}}
					</div>
				</div>
				<div class="lightbox-action lightbox-like lightbox-space">
					<a target="_blank" href="https://twitter.com/intent/like?tweet_id={{feedItem.id_str}}"><i class="material-icons lightbox-md-20">favorite_border</i></a>
					<div class="lightbox-counter lightbox-like-count">
						{{favoriteCount}}
					</div>
				</div>
				</div>
          <a class="lightbox-btn" target="_blank" href="{{feedItem.link}}">View on Twitter</a>
        </div>
			</div>
