footer {
	width: 100vw;
	background: #f2f2f2;
	padding: 0px 14px;
	border-top: 1px solid #e4e4e4;
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;

	div a {
		padding: 0px 14px;
		color: #666;
		font-size: small;
		line-height: 40px;
	}

	@media(max-width: 400px) {
		justify-content: space-around;
	}
}
