md-icon {
	position: relative;
	top:7px;
	right: 7px;
}

.form-close{
	border: none;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: white;
	color: gray;
	cursor: pointer;
	margin-left: auto;
}

div.dialog-heading {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {
	text-align: center;
	color: #3f51b5;
}

div.text {
	text-align: center;
}

h4.sub-text {
	margin-top: 15px;
	text-align: center;
}

input {
	width: 80%;
	height: 44px;
	line-height: 44px;
	border: 1px solid #555;
	border-radius: 6px;
}
