#topbar {
	.navbar {
		box-shadow: $topbar-shadow;
	}
    .navbar-fixed-top {
  		border: 0;
  		background-color: $topbar-bg;
  		color: $topbar-color;
	}
	.avatar {
		object-fit: cover;
		border-radius: 500px;
		max-width: 50px;
	}
	.nav-link {
    	display: block;
    	padding-top: 0.825rem;
    	padding-bottom: 0.825rem;
	}
	.menu-img {
		margin-left: 0.5rem;
	}
	a {
		color: $topbar-color;

		&:hover {
			color: lighten($topbar-color, 10%);
			text-decoration: none;
			cursor: pointer;
			cursor: hand;
		}
	}
	.navbar-brand {
		padding-top: .6rem;
	}
}
