sudo: required
dist: trusty
language: node_js
node_js:
  - 6

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - ng build

script:
  - ng test --watch=false
  - ng lint

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash ./deploy.sh

cache:
  directories: node_modules

# safelist
branches:
  only:
  - master
