sudo: required
dist: trusty
language: node_js
node_js:
  - '5.6.0'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - ng build

script:
  - ng test --watch=false

after_success:
  - bash <(curl -s https://codecov.io/bash)
