<app-navbar></app-navbar>
<div class="image-banner">
   <img src="../../assets/images/banner.jpg" class="img-responsive banner">
</div>
   <div class="container">
      <br>
			<h2 class="text-center">
				Our mission is to make the world’s social media information openly accessible and useful
				generating open knowledge for all.
			</h2>
      <br>
      <div class="text-center">
				<a routerLink="/search" [queryParams]="{ query : '#OpenData' }">#OpenData</a>
				<a routerLink="/search" [queryParams]="{ query : '#OpenSource' }">#OpenSource</a>
				<a routerLink="/search" [queryParams]="{ query : '#OpenKnowledge' }">#OpenKnowledge</a>
				<br><br>
			</div>
      <hr>
      <h3>About Us</h3>
      <div class="row">
         <div class="col-lg-4 col-sm-12">
            <h5 class="bold">News from us</h5>
            <p>Read up on our latest news and browse our blog
							(<a href="{{ configUrl.loklak.blog }}" target="_self">{{ configUrl.loklak.blog }}</a>) for updates on our work.
						</p>
         </div>
         <div class="col-lg-4 col-sm-12">
            <h5 class="bold">Developers</h5>
            <p>Want to know how to set up loklak yourself or you would like to develop an app based on loklak.
							You can use the <a href="{{ configUrl.loklak.apiServer }}" target="_self">loklak APIs</a>.
							Our developer portal is on <a href="{{ configUrl.loklak.dev }}" target="_self">dev.{{ configUrl.loklak.apiBase }}</a>.
						</p>
         </div>
         <div class="col-lg-4 col-sm-12">
            <h5 class="bold">Contribute to our projects</h5>
            <p>
							Get involved as an Open Source developer, designer or tester and start your adventure today!
							Solve an issue or feature request on our repositories with
							<a href="{{ configUrl.github.fossasia }}?utf8=%E2%9C%93&query=loklak" target="_self">FOSSASIA</a> or
							the <a href="{{ configUrl.github.loklak }}" target="_self">loklak GitHub organization</a>,
							build up your developer profile and become part of a fantastic community.
						</p>
         </div>
      </div>
      <hr>
      <h3>Contact Us</h3>
      <p>
				If you would like to get in touch with us, you find our details on the
				<a routerLink="/contact" target="_self">contact page</a>.
			</p>
   </div>
<br>
<app-footer></app-footer>
