<nav class="navbar navbar-default">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"><img src="../../assets/images/logo.png" alt="loklak social media search engine">
         </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li ><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
         </ul>
      </div>
      <!--/.nav-collapse -->
   </div>
   <!--/.container -->
</nav>
<div class="image-banner">
   <img src="../../assets/images/banner.jpg" class="img-responsive banner">
</div>
   <div class="container">
      <br>
      <h2 class="text-center">Our mission is to make the world’s social media information openly accessible and useful generating open knowledge for all.</h2>
      <br>
      <div class="text-center"><a href="/search?query=#OpenData" target="_self">#OpenData</a> <a href="/search?query=#OpenSource" target="_self">#OpenSource</a> <a href="/search?query=#OpenKnowledge" target="_self">#OpenKnowledge</a></div> <br><br>
      <hr>
      <h3>About Us</h3>
      <div class="row">
         <div class="col-lg-4 col-sm-12">
            <h5 class="bold">News from us</h5>
            <p>Read up on our latest news and browse our <a href="http://blog.loklak.net" target="_self">blog</a> for updates on our work.</p>
         </div>
         <div class="col-lg-4 col-sm-12">
            <h5 class="bold">Developers</h5>
            <p>Wanna know how to set up loklak yourself or you would like to develop an app based on loklak. On <a href="http://api.loklak.org" target="_self">api.loklak.org</a> you find more info about our APIs.</p>
         </div>
         <div class="col-lg-4 col-sm-12">
            <h5 class="bold">Contribute to our projects</h5>
            <p>Get involved as an Open Source developer, designer or tester and start your adventure today! Solve an issue or feature request on our repositories with <a href="https://github.com/fossasia?utf8=%E2%9C%93&query=loklak" target="_self">FOSSASIA</a> or the <a href="http://github.com/loklak/" target="_self">loklak GitHub organization</a>, build up your developer profile and become part of a fantastic community.</p>
         </div>
      </div>
      <hr>
      <h3>Contact Us</h3>
      <p>If you would like to get in touch with us, you find our details on the <a href="/contact/" target="_self">contact page</a>.</p>
   </div>
<br>
<app-footer></app-footer>
