<nav class="navbar navbar-default">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"><img src="../../assets/images/loklak_banner_206x45.png" alt="Dispute Bills">
         </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li ><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
         </ul>
      </div>
      <!--/.nav-collapse -->
   </div>
   <!--/.container -->
</nav>
<div class="image-banner">
   <img src="../../assets/images/newbanner.jpg" class="img-responsive about-banner">
</div>
<div class="row">
   <div class="container">
      <br>
      <h3 class="text-center">Our mission is to make the world’s social media information openly accessible and useful generating open knowledge for all.</h3>
      <br>
      <div class="text-center"><a href="/search?query=#OpenData" target="_blank">#OpenData</a> <a href="/search?query=#OpenSource" target="_blank">#OpenSource</a> <a href="/search?query=#OpenKnowledge" target="_blank">#OpenKnowledge</a></div> <br>
      <hr>
      <div class="row">
         <div class="col-lg-4 col-sm-12">
            <h3 class="bold">About Us</h3>
            <p>Read up on our latest news and browse our <a href="http://blog.loklak.net" target="_blank">blog</a> for updates on our work.</p>
         </div>
         <div class="col-lg-4 col-sm-12">
            <h3 class="bold">Contact Us</h3>
            <p>If you would like to get in touch with us, please our information is available <a href="/contact">here.</a></p>
         </div>
         <div class="col-lg-4 col-sm-12">
            <h3 class="bold">Contribute to our projects</h3>
            <p>Ever wondered what life as a developers looks like or what benefits you might expect as an Open Source contributor? Search for an issue to solve on our repositories with <a href="https://github.com/fossasia?utf8=%E2%9C%93&query=loklak" target="_blank">FOSSASIA</a> or the <a href="http://github.com/loklak/" target="_blank">Loklak Org</a> and check out feature requests and issues.</p>
         </div>
      </div>
     <br><br><br><br><br><br>
   </div>
</div>
<app-footer></app-footer>