.banner{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: -10%;
	overflow:hidden;
}

.bold{
	font-weight: 700;
}

.navbar{
	margin-bottom: 0px !important;
}

.image-banner{
	position: relative;
	height: 450px;
	overflow: hidden;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}

.navbar-brand>img {
	padding: 7px 15px;
}

.text-center{
	text-align: center;
}
@media screen and (max-width:990px){
	.image-banner {
		height: 190px;
	}

	.banner{
		top:0;
	}
}
