<nav class="navbar">
	<div class="container">
			<input type="checkbox" id="navbar-toggle-cbox">
			<div class="navbar-header">
				<label for="navbar-toggle-cbox" type="button" class="navbar-toggle">
					<i class="material-icons material-icons.md-dark">menu</i>
				</label>
				<a class="navbar-brand" routerLink="/">
					loklak
				</a>
			</div>
			<div class="navbar-collapse">
				<ul>
					<li><a routerLink="/">Home</a></li>
					<li><a routerLink="/about">About</a></li>
					<li><a routerLink="/contact">Contact</a></li>
				</ul>
			</div>
	</div>
</nav>
