body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

address {
	font-style: normal;
	line-height: 1.4;
}
