
$grid-columns: 12;
$grid-max-width: 1170px;

$link-color: rgb(51,122,183);
$link-hover-color: rgb(35,82,124);
$navigation-link-color: rgb(119,119,119);
$primary-color: #222;
$alternate-color: rgb(85,85,85);
$background-color-navbar: rgb(248,248,248);
$border-color-navbar: rgb(231,231,231);
$border-color-button: rgb(221,221,221);
$line-color: rgb(238,238,238);

$breakpoint-small: 'only screen and (min-width: 768px)';
$breakpoint-large: 'only screen and (min-width: 1200px)';

$accent-color: #d10042;
