@import '~src/styles/main';

@media (max-width: 560px) {
    .logo-and-form {
      flex-direction: column;
    }
    .search-input {
      width: 98vw;
      margin-left: 1vw;
    }
  }
  
  .outer-wrapper{
      display: flex;
      flex-direction: column;
      background: #fafafa;
      border-bottom: 1px solid #ebebeb;
  
      .wrapper{
          padding: 18px 0px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          div.logo-and-form {
              margin-right: 82px;
              width: 100%;
              max-width: 767px;
              display: flex;
  
              a {
                  &:hover {
                      text-decoration: none;
                  }
  
                  div.logo {
                      display: block;
                      font-family: Courier New;
                      padding: 0px 15px;
                      font-size: 33px;
                      color: var(--accent-color,$accent-color);
                  }
              }
          }
      }
  }

.overlay {
	width: 100%;
	height: 70%;
	text-align: center;

	.overlay-content{
		width: 547px;
		height: 430px;
		background-color: white;
		margin: 40px auto;
		border: solid gray 1px;
		border-radius: 8px;
		padding: 30px;
		position: relative;

		.contact-form {
			text-align: left;
			margin: 30px;
			input {
				padding: 0.5em 0.6em;
				display: inline-block;
				border: 1px solid #ccc;
				box-shadow: inset 0 1px 3px #ddd;
				border-radius: 4px;
				vertical-align: middle;
				box-sizing: border-box;
				*display: inline;
				*zoom: 1;
				width: 100%;
			}

			fieldset {
				border:none;
			}

			legend {
				display: block;
				width: 100%;
				padding: 0.3em 0;
				margin-bottom: 1.4em;
				color: #333;
				border-bottom: 1px solid #e5e5e5;
			}

		.form-group {
			margin-bottom: 2.5em;
			.form-label {
				text-align: left;
				display: inline-block;
				vertical-align: middle;
				width: 9.5em;
				margin: 0 1em 0 0;
			}
		}

		button {
			font-size: 20px;
			width: 100%;
			height: 35px;
			border-radius: 8px;
			cursor: pointer;
			background: #3F51BF;
			color: white;
			&:hover {
					outline: none;
					border: 1px solid #ddd;
					box-shadow: 0 0 11px rgba(33,33,33,.5);
				}
			}
		}
	}
}

legend {
	display: block;
	font-family: Courier New;
	padding: 0px 15px;
	font-size: 25px;
	color: var(--accent-color,$accent-color);
} 

.mat-button-toggle {
    color: white;
	background: blue;
}

.Submit {
	left: 17vw;
}

.login {
	background: #0066ff;
    color: white;
    position: absolute;
    height: 34px;
    width: 93px;
    border-radius: 3px;
    padding: 0px 1px 0px 9px;
	&:hover {
		text-decoration: none;
		color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.twitter {
	left: 5vw;
}

.github {
	left: 13vw;
	padding: 0px 1px 0px 10.5px;
}

.google {
	left: 21vw;
}

.facebook {
	left: 29vw;
	padding: 0px 1px 0px 2px;
}
