<div class="outer-wrapper">
    <div class="wrapper">
      <div class="logo-and-form">
        <a routerLink="/">
          <div class="logo">
            loklak
          </div>
        </a>
   </div>
 </div>
 <div class="overlay">
	<div class="overlay-content">
        <form class="contact-form" [formGroup]="loginForm" novalidate>
			<fieldset>
				<legend class="legend-font">Loklak Login</legend>
				<div class="form-group">
					<input type="text" formControlName="email" id="email" placeholder="xyz@example.com" name="email">
				</div>
				<div class="form-group">
					<input type="password" formControlName="password" id="password" placeholder="Your Secret Password" name="password">
				</div>
				<div class="form-group">
                    <span class="login">
                        <button (click)="signUpWithCredentials(loginForm.value);">
                            <span>Sign up</span>
                        </button>
                    </span>
                    <span class="login">
                        <button (click)="loginWithCredentials(loginForm.value);">
                            <span>Login</span>
                        </button>
                    </span>
            </div>
        <hr>
        <div class="form-group">
            <span class="social">
            <a class="btn btn-block btn-social btn-twitter" (click)="signInWithTwitter()">
                <span class="fa fa-twitter fa-2x"></span>
            </a>
            </span>
            <span class="social">
            <a class="btn btn-block btn-social btn-github" (click)="signInWithGithub()">
                <span class="fa fa-github fa-2x"></span>
            </a>
            </span>
            <span class="social">
            <a class="btn btn-block btn-social btn-google" (click)="signInWithGoogle()">
                <span class="fa fa-google fa-2x"></span>
            </a>
            </span>
            <span class="social">
            <a class="btn btn-block btn-social btn-facebook" (click)="signInWithFacebook()">
                <span class="fa fa-facebook fa-2x"></span>
            </a>
            </span>
          </div>
			</fieldset>
		</form>
	</div>
</div>
</div>
