<div class="outer-wrapper">
    <div class="wrapper">
      <div class="logo-and-form">
        <a routerLink="/">
          <div class="logo">
            loklak
          </div>
        </a>
   </div>
 </div>
 <div class="overlay">
	<div class="overlay-content">
        <form class="contact-form" [formGroup]="loginForm" novalidate>
			<fieldset>
				<legend>Loklak Login</legend>
				<div class="form-group">
					<input type="text" formControlName="email" id="email" placeholder="xyz@example.com" name="email">
				</div>
				<div class="form-group">
					<input type="password" formControlName="password" id="password" placeholder="Your Secret Password" name="password">
				</div>
				<div class="form-group">
                    <mat-button-toggle (click)="loginWithCredentials(loginForm.value);" type="submit" value="submit" class="login Submit">
                        Sign Up
                    </mat-button-toggle>
            </div>
        <br><br><br>
        <div class="form-group">
            <mat-button-toggle class="login twitter" (click)="signInWithTwitter()">
                Twitter
            </mat-button-toggle>
            <mat-button-toggle class="login github" (click)="signInWithGithub()">
                Github
            </mat-button-toggle>
            <mat-button-toggle class="login google" (click)="signInWithGoogle()">
                Google
            </mat-button-toggle>
            <mat-button-toggle class="login facebook" (click)="signInWithFacebook()">
                Facebook
            </mat-button-toggle>
          </div>
			</fieldset>
		</form>
	</div>
</div>
</div>
