<app-navbar>
</app-navbar>
<div class="image-banner">
	<img src="../../assets/images/banner.jpg" class="img-responsive banner">
</div>

<div class="container">
	<div class="address">
		<h3>Contact Us</h3>
		<hr>
		<address>
			<h4 class="bold">Loklak</h4>
			93 Mau Than Street<br> Can Tho<br> Viet Nam<br> Phone +84 (0) 907 65 29 27<br> Email: support@loklak.net<br> Board of
			Directors: Phuc Hau Dang<br> Loklak Ltd. is registered in Can Tho, Viet Nam.
		</address>
		<hr>
		<h5>Report a safety or abuse issue affecting our products.<br><br> If you know of a safety or abuse problem with any of Loklak's
			services, we'd like to hear about it right away. Please use our <a (click)="formcontrol=true">contact</a> form to report
			the issue.</h5><br><br>
	</div>
	<div *ngIf="formcontrol">
		<contact-form (hideContactForm)="contactform($event)"></contact-form>
	</div>
</div>
<app-footer></app-footer>
