.banner{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: -10%;
	overflow:hidden;
}

.bold{
	font-weight: 700;
}

.image-banner{
	position: relative;
	height: 450px;
	overflow: hidden;
}

a {
	cursor: pointer;
}

@media screen and (max-width:990px){
	.image-banner {
		height: 190px;
	}
	.banner{
		top:0;
	}
}
