.banner{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: -10%;
	overflow:hidden;
}

.bold{
	font-weight: 700;
}

.navbar{
	margin-bottom: 0px !important;
}

.image-banner{
	position: relative;
	height: 450px;
	overflow: hidden;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}
address{
    border: 1px solid;
	padding: 10px;
	background: #f9f9f9;
    border-color: #f2f2f2;
    border-radius: 4px;
	
}
input{
	border-radius: 4px;
    margin: 5px 0px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 6px 10px;
    outline: 0;
}
.sebm-google-map-container {
  height: 200px;
}
.navbar-brand>img {
	padding: 7px 15px;
}
.btn{
	border-radius: 4px !important;
}
.text-center{
	text-align: center;
}

a {
	cursor: pointer;
}

@media screen and (max-width:990px){
	.image-banner {
		height: 190px;
	}

	.banner{
	top:0;
	}
}
