.banner{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: -10%;
	overflow:hidden;
}

.bold{
	font-weight: 700;
}

.navbar{
	margin-bottom: 0px !important;
}

.image-banner{
	position: relative;
	height: 450px;
	overflow: hidden;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}

.navbar-brand>img {
	padding: 7px 15px;
}

.text-center{
	text-align: center;
}

.contactformlink{
	cursor: pointer;
}

@media screen and (max-width:990px) {
	.image-banner {
		height: 190px;
	}

	.banner{
	top:0;
	}
}
.overlay {
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	padding-top: 80px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);

	.overlay-content{
		width: 400px;
		height: 470px;
		background-color: white;
		margin: 0 auto;
		border: solid gray 1px;
		border-radius: 8px;
		padding: 30px;
		position: relative;

		.lightbox-header{

			position: absolute;
			top:15px;
			left:20px;

		}

		.lightbox-close{
			border: none;
			width: 40px;
			height: 40px;
			font-size: 30px;
			position: absolute;
			right: 30px;
			top: 28px;
			background: white;
			color: gray;
			cursor: pointer;
		}

		form{
			position: absolute;
			top: 100px;
			left: 20px;
		
		.issue-text{
			height: 100px;
		}

		}

		label {
		display:block;
		margin-bottom:30px;
		}

		.submitbutton {
		position: relative;
		left:10px;
		}

		.reported{
			position: relative;
			top: 15px;
		}

		input{
			width:273px;
		}
	}
}

@media screen and (max-width: 400px) {

	.overlay-content {
		width: 90%;
		position:relative;

		.lightbox-close {
			position: absolute;
			left:75%;
		}

	}
}

