.wrapper{
	min-height: 59px;
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	div.logo-and-form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;

		div.logo {
			display: block;
			height: 50px;
			font-family: "Courier New";
			padding:15px 15px;
			font-size:35px;
			color: #C8254D;
			line-height: 20px;
		}

		a:hover {
			text-decoration: none;
		}

		div.search-form {
			max-width: 600px;

			div.input-group{
				width: 100%;
				padding: 10px;
				min-width: 600px;
				display: flex;
				align-items: center;

				@media(max-width: 600px) {
					width: 100vw;
					min-width: 0;
				}

				label {
					visibility: hidden;
					display: none;
				}

				input {
					color: rgb(85,85,85);
					border: 1px solid rgb(231,231,231);
					padding: 6px 12px;
					width: 100%;
					transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					font-size: 16px;
					word-spacing: 1.5pt;
					letter-spacing: 0.5pt;
					display: inline-block;
					box-shadow: none;
				}

				input:focus {
					box-shadow: none;
					border-color: #4285f4;
				}

				input,
				span.input-group-btn button {
					height: 38px;
				}

				span.input-group-btn button {
					padding: 6px 8px;
					background: #d81b60;
					color: white;
				}
			}
		}
	}
}
