.wrapper{
	min-height: 59px;
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	div.logo-and-form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;

		div.logo {
			padding: 6px;
		}

		div.search-form {
			max-width: 600px;
			background-color: #fff;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
			border: 0 !important;
			outline: 0 !important;
			margin: 20px 0px 20px 0;
			transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

			div.input-group{
				border: 0 !important;
				padding: 0;
				min-width: 600px;

				@media(max-width: 600px) {
					min-width: 0;
				}

				label {
					visibility: hidden;
					display: none;
				}

				input {
					padding: 6px 12px;
					width: 100%;
					font-size: 16px;
					word-spacing: 1.5pt;
					letter-spacing: 0.5pt;
					display: inline-block;
					box-shadow: none;
					box-shadow: none;
					border : 0 !important;
					outline: 0 !important;
				}

				input:focus {
				    box-shadow: none;
				    border-color: none;
				}

				input,
				span.input-group-btn button {
					height: 40px;
				}

				span.input-group-btn button {
					background: transparent;
					cursor: pointer;
				}
			}
		}
		div.search-form:hover{
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
		}
	}
}

@media all and (max-width: 600px){
	.logo-and-form{
		padding: 0 25px 0 10px;
	}
	span.input-group-btn button{
		background: #d81b60;
		color: white;
	}
}