.wrapper{
	min-height: 119px;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	div.logo-and-form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		height: 85px;

		@media(max-width: 1000px) {
			justify-content: center;
		}

		div.logo {
			display: block;
			height: 50px;
			font-family: "Courier New";
			padding:15px 15px;
			font-size:35px;
			color: #e91e63;
			line-height: 20px;
		}

		a:hover {
			text-decoration: none;
		}

		div.search-form {
			background-color: #fff;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
			border: 0 !important;
			outline: 0 !important;
			margin: 20px 0px 20px 0;
			transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
			border-bottom: 1px solid black;

			@media(max-width: 1000px) {
				width: calc(100% - 20px);
			}

			div.input-group {
				border: 0 !important;
				padding: 0;
				width: 632px;
				display: flex;
				align-items: center;

				@media(max-width: 1000px) {
					width: 100%;
				}

				label {
					visibility: hidden;
					display: none;
				}

				input {
					padding: 6px 12px;
					width: 100%;
					font-size: 16px;
					word-spacing: 1.5pt;
					letter-spacing: 0.5pt;
					display: inline-block;
					box-shadow: none;
					box-shadow: none;
					border : 0 !important;
					outline: 0 !important;
				}

				input:focus {
				    box-shadow: none;
				    border-color: none;
				}

				input,
				span.input-group-btn button {
					height: 40px;
				}

				span.input-group-btn button {
					background: #e91e63;
					cursor: pointer;
					color: white;
				}
			}
		}

		div.search-form:hover{
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
		}
	}

	div.tabs{
		position: absolute;
		top: 70px;
		left: 156px;
	}

	div.tabslist {
		position: absolute;
		top: 90px;
		left: 156px;


		li {
			position: relative;
			display: inline-block;

			a {
				color: rgb(119,119,119);
				padding: 28px 16px 12px;
				line-height: 20px;
			}

			a:hover {
				color: rgb(51,51,51);
				text-decoration: none;
			}

			a:active {
				color:#4285F4;
			}

		}
		hr {
				position: relative;
				top:-15px;
				background-color:#4285F4;
				height: 5px;
				width:60px;
			}
	}
}

@media all and (max-width: 1000px){
	.logo-and-form{
		padding: 0 20px 0 10px;
		display: block !important;

		a {
			text-align: center;
		}
	}
	.wrapper{
		min-height: 129px;
	}
	span.input-group-btn button{
		background: #e91e63;
		color: white;
	}
	div.search-form {
			margin: auto !important;

				input{
				min-width : 230px !important;
			}

	}
	div.suggesstion-box{
		width: calc(100% - 50px) !important;
		max-height: 90px !important;
		left: 20px !important;
		top: 90px !important;
	}
	div.tabslist{
		top: 100px !important;
		left: 20px !important;
	}

}
