.wrapper{
	min-height: 60px;
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	div.logo-and-form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;

		div.logo {
			padding: 10px;
		}

		div.search-form {
			max-width: 600px;

			div.input-group{
				width: 100%;
				padding: 10px;

				label {
					visibility: hidden;
					display: none;
				}

				input {
					font-size: larger;
					display: inline-block;
					box-shadow: none;
				}

				input:focus {
					box-shadow: none;
					border-color: #4285f4;
					outline: #6897e6 auto 1px;
				}

				input,
				span.input-group-btn button {
					height: 38px;
				}

				span.input-group-btn button {
					background: #d81b60;
					color: white;
				}
			}
		}
	}
}
