<div class="wrapper">
	<div class="logo-and-form">
		<a routerLink="/">
			<div class="logo">
				loklak
			</div>
		</a>
		<div class="search-form">
			<div class="input-group">
				<label for="search">Search On Loklak.</label>

				<input mdInput required search autocomplete="off" type="text" id="search" name="search" placeholder="I'm feeling awesome!"
								[formControl]="searchInputControl" [mdAutocomplete]="searchSuggestBox"
								(keyup.enter)="relocateEvent.emit(query)" [(ngModel)]="query"/>

				<md-autocomplete #searchSuggestBox="mdAutocomplete">
					<md-option *ngFor="let suggestion of suggestionList.slice(0, 4)" [value]="suggestion.query">{{suggestion.query}}</md-option>
				</md-autocomplete>

				<span class="input-group-btn">
					<button class="btn" role="button" type="button" tabindex="-1"
									aria-roledescription="Search the web using loklak search." (click)="relocateEvent.emit(query)">
						<i class="material-icons material-icons.md-light">search</i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<feed-advanced-search [query]="query"></feed-advanced-search>
</div>
