.wrapper{
	min-height: 117px;
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;

	div.logo-and-form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;

		@media(max-width: 1000px) {
			justify-content: center;
		}

		div.logo {
			display: block;
			height: 50px;
			font-family: "Courier New";
			padding:15px 15px;
			font-size:35px;
			color: #C8254D;
			line-height: 20px;
		}

		a:hover {
			text-decoration: none;
		}

		div.search-form {
			background-color: #fff;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
			border: 0 !important;
			outline: 0 !important;
			margin: 20px 0px 20px 0;
			transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
			border-bottom: 1px solid black; 

			@media(max-width: 1000px) {
				width: calc(100% - 180px);
			}

			div.input-group{
				border: 0 !important;
				padding: 0;
				width: 632px;
				display: flex;
				align-items: center;

				@media(max-width: 1000px) {
					width: 100%;
				}

				label {
					visibility: hidden;
					display: none;
				}

				input {
					padding: 6px 12px;
					width: 100%;
					font-size: 16px;
					word-spacing: 1.5pt;
					letter-spacing: 0.5pt;
					display: inline-block;
					box-shadow: none;
					box-shadow: none;
					border : 0 !important;
					outline: 0 !important;
				}

				input:focus {
				    box-shadow: none;
				    border-color: none;
				}

				input,
				span.input-group-btn button {
					height: 40px;
				}

				span.input-group-btn button {
					background: #d81b60;
					cursor: pointer;
					color: white;
				}
			}
		}
		div.search-form:hover{
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
		}
		div.suggesstion-box{		
				background-color: white;
				width: 637px;
				max-height:90px;
				position: absolute;
				left: 156px;
				top: 75px;
				border-radius: 2px;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
				overflow: hidden;
		}

		ul{
			cursor:default;
		}

		li{
			padding-left: 12px;
			font-size: 16px;
			word-spacing: 1.5pt;
			letter-spacing: 0.5pt;
		}
		li:hover{
			background: #F0F0F0;
			word-wrap: break-word;

		}

	}
}

@media all and (max-width: 600px){
	.logo-and-form{
		padding: 0 25px 0 10px;
	}
	span.input-group-btn button{
		background: #d81b60;
		color: white;
	}
}
