.wrapper {
	padding: 20px;

	.heading {
		font-size: 1.3em;
		margin-bottom: 20px;
		padding: 2px;

		.query {
			font-weight: 700;
		}
	}

	.hashtags {
		display: flex;
		flex-wrap: wrap;

		ul.column {
			list-style: none;
			padding: 0;
			margin: 0;
			flex: 1;
		}

		li {
			padding: 3px 10px;
			font-size: 1.1em;
			font-weight : 400;
		}
	}
}
