<div class="wrapper">
	<div class="heading">
		Hashtags related to <span class="query">{{query.queryString}}</span>
	</div>
	<div class="hashtags">
		<ul class="column">
			<li class="hashtag" *ngFor="let tag of apiResponseTags | slice:0:5">
				<a [routerLink]="['/search']" [queryParams]="{ query : '#' + tag.tag }">#{{tag.tag}}</a>
			</li>
		</ul>
		<ul class="column">
			<li class="hashtag" *ngFor="let tag of apiResponseTags | slice:5:10">
				<a [routerLink]="['/search']" [queryParams]="{ query : '#' + tag.tag }">#{{tag.tag}}</a>
			</li>
		</ul>
	</div>
</div>
