<div class="info-box">
	<div class="row">
		<div class="col-sm-6 col-md-6" in-viewport (inViewport)="inviewtwitters($event)">
			<h4>Top Twitterers</h4>
			<table class="table leaderboard">
				<tbody>
					<tr class="leaderboard-item" *ngFor="let item of topTwitterers">
						<td>
							<img src="http://avatars.io/twitter/{{item[0]}}" alt="{{item[0]}}" *ngIf="inviewporttwitters">
							<span class="label leaderboard-label">{{item[1]}}</span>
						</td>
						<td class="leaderboard-text">
							<a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + item[0] }">@{{item[0]}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-6 col-md-6">
			<h4>Top Hashtags</h4>
			<table class="table">
				<tbody>
					<tr class="leaderboard-item"  *ngFor ="let item of topHashtags">
						<td>
							<div  class="leaderboard-count">{{item[1]}}</div>
						</td>
						<td class="leaderboard-text">
							<a [routerLink]="['/search']" [queryParams]="{ query : '#' + item[0] }">#{{item[0]}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6" in-viewport (inViewport)="inviewmentions($event)">
			<h4>Top Mentions</h4>
			<table class="table">
				<tbody>
					<tr class="leaderboard-item" *ngFor="let item of topMentions">
						<td>
							<img src="http://avatars.io/twitter/{{item[0]}}" alt="" *ngIf="inviewportmentions">
							<span class="label leaderboard-label">{{item[1]}}</span>
						</td>
						<td class="leaderboard-text">
							<a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + item[0] }">@{{item[0]}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



