<div class="info-box" *ngIf="areTopMentionsAvailable ||
							areTopTwitterersAvailable ||
							areTopHashtagsAvailable ||
							areFrequencyDataAvailable">
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-6" in-viewport (inViewport)="inviewtwitters($event)" *ngIf="areTopTwitterersAvailable">
			<h4>Top Twitterers</h4>
			<table class="table leaderboard">
				<tbody>
					<tr class="leaderboard-item" *ngFor="let item of topTwitterers">
						<td>
							<img src="https://twitter.com/{{item[0]}}/profile_image?size=normal" alt="{{item[0]}}" *ngIf="inviewporttwitters">
							<span class="label leaderboard-label">{{item[1]}}</span>
						</td>
						<td class="leaderboard-text">
							<a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + item[0] }">@{{item[0]}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-6" *ngIf="areTopHashtagsAvailable">
			<h4>Top Hashtags</h4>
			<table class="table">
				<tbody>
					<tr class="leaderboard-item"  *ngFor ="let item of topHashtags">
						<td>
							<div  class="leaderboard-count">{{item[1]}}</div>
						</td>
						<td class="leaderboard-text">
							<a [routerLink]="['/search']" [queryParams]="{ query : '#' + item[0] }">#{{item[0]}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-6" *ngIf="areTopMentionsAvailable" in-viewport (inViewport)="inviewmentions($event)">
			<h4>Top Mentions</h4>
			<table class="table">
				<tbody>
					<tr class="leaderboard-item" *ngFor="let item of topMentions">
						<td>
							<img src="https://twitter.com/{{item[0]}}/profile_image?size=normal" alt="" *ngIf="inviewportmentions">
							<span class="label leaderboard-label">{{item[1]}}</span>
						</td>
						<td class="leaderboard-text">
							<a [routerLink]="['/search']" [queryParams]="{ query : 'from:' + item[0] }">@{{item[0]}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" style="display: block;" *ngIf="areFrequencyDataAvailable">
		<canvas baseChart
		            [datasets]="barChartData"
		            [labels]="barChartLabels"
		            [options]="barChartOptions"
		            [legend]="barChartLegend"
		            [chartType]="barChartType"></canvas>

	</div>
</div>
<div class="row link-sidebar-container">
	<span class="link-sidebar"><a href="https://github.com/fossasia/loklak_search/issues/">Bug Report or Feature Request</a></span>
	<span class="link-sidebar"><a href="https://fossasia.org">Developed by FOSSASIA</a></span>
	<span class="link-sidebar"><a href="https://github.com/fossasia/loklak_search/graphs/contributors">Contributors</a></span>
	<span class="link-sidebar"><a href="https://apps.loklak.org">Web Apps</a></span>
	<span class="link-sidebar"><a href="https://play.google.com/store/apps/details?id=org.loklak.android.wok">loklak Android Wok</a></span>
	<span class="link-sidebar"><a href="https://www.facebook.com/loklak.org/">Like on Facebook</a></span>
	<span class="link-sidebar"><a href="https://twitter.com/loklak_">Follow on Twitter</a></span>
</div>



