<div class="overlay">
	<div class="overlay-content">
	<button class="form-close" (click)="hidecontactform.emit(false)">x</button>
	<form class="contact-form" [formGroup]="ContactForm" novalidate (ngSubmit)="sendtosuperuser(ContactForm.value); showsubmit()">
<fieldset>
<legend>Contact Form</legend>
<div class="form-group">
    <label class="form-label" for="name">*Name </label>
    <input type="text" formControlName="name" id="name" placeholder="Your name">
    <div class="validators"><small *ngIf="!(ContactForm.controls.name.valid || (ContactForm.controls.name.pristine && !submitted))">
    	Name is required
    	</small></div>
    	</div>
    	<div class="form-group">
    	<label class="form-label" for="email">*Email </label>
    <input type="email" formControlName="email" id="email" placeholder="xyz@example.com">
   <div class="validators"><small  *ngIf="!(ContactForm.controls.email.valid || (ContactForm.controls.email.pristine && !submitted))">
    	Email is required
    	</small> </div>
    	</div>
    	<div class="form-group">
    	<label class="form-label" for="number">*Mobile Number </label>
   		<input type="tel" formControlName="Number" id="number" placeholder="+(Country Code)-(Number)">
   		<div class="validators"><small  *ngIf="!(ContactForm.controls.Number.valid || (ContactForm.controls.Number.pristine && !submitted))">
    	Mobile Number is required.
    	</small> </div>
    </div>
    	<div class="form-group">
    	<label class="form-label" for="input">*Message</label>
    <textarea rows="30" cols="8" type="text" formControlName="input" id="input" placeholder="Minimum 100 words"></textarea>
   <div class="validators"><small *ngIf="!(ContactForm.controls.input.valid || (ContactForm.controls.input.pristine && !submitted))">
    	Describe more with Minimum 100 words.
    	</small> </div>
    	</div>
    	<div class="form-group">
    	<small>*All fields are mandatory</small>
<button type="submit" [disabled]="!ContactForm.valid">Submit</button>
<small *ngIf="submitted && ContactForm.valid ">Your Form has been submitted</small>
</div>
</fieldset>
</form>
</div>
</div>
