:host{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 500px;
	margin-top: -30vh;
	img{
		max-width:21.406%;
		height:auto;
	}
	h1 {
		font-weight: 300;
		text-align: center;
		font-size: 2.5em;
		margin: 15px 0px 0px 0px;
    	font-family: 'Roboto', sans-serif;
    	.loklak{
    		background:#f9f2f4;
    		color:#d10042;
    		font-family: Courier New;
    	}
	}

	h2 {
		text-align: center;
	}
}
