<div class="tab">
	<div class="cards">
		<div class="card">
			<span class="imgspan">
				<app-lazy-img src="{{lightThemeURL}}" width="50" height="50"></app-lazy-img>
			</span>
			<span class="details">
				Light Theme
			</span>
		</div>
		<div class="card">
			<span class="imgspan">
				<app-lazy-img src="{{classicThemeURL}}" width="50" height="50"></app-lazy-img>
			</span>
			<span class="details">
				Classic Theme
			</span>
		</div>
		<div class="card">
			<span class="imgspan">
				<app-lazy-img src="{{coolBluesThemeURL}}" width="50" height="50"></app-lazy-img>
			</span>
			<span class="details">
				Cool Blues Theme
			</span>
		</div>
		<div class="card">
			<span class="imgspan">
				<app-lazy-img src="{{darkThemeURL}}" width="50" height="50"></app-lazy-img>
			</span>
			<span class="details">
				Dark Theme
			</span>
		</div>
	</div>
</div>
