<div id="components">

	<!-- BUTTONS -->
	<div class="box">
		<div class="box-header">
			<h2>Buttons</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary">Primary</button>
					<button type="button" class="btn btn-secondary">Secondary</button>
					<button type="button" class="btn btn-success">Success</button>
					<button type="button" class="btn btn-info">Info</button>
					<button type="button" class="btn btn-warning">Warning</button>
					<button type="button" class="btn btn-danger">Danger</button>
					<button type="button" class="btn btn-link">Link</button>
				</div>
				<div class="col-sm-12 break">
					<button type="button" class="btn btn-primary-outline">Primary</button>
					<button type="button" class="btn btn-secondary-outline">Secondary</button>
					<button type="button" class="btn btn-success-outline">Success</button>
					<button type="button" class="btn btn-info-outline">Info</button>
					<button type="button" class="btn btn-warning-outline">Warning</button>
					<button type="button" class="btn btn-danger-outline">Danger</button>
				</div>
			</div>
		</div>
	</div>

	<!-- JUMBOTRON -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Jumbotron</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="jumbotron">
  						<h1 class="display-3">Hello, world!</h1>
  						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  						<hr class="m-y-2">
  						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  						<p class="lead">
    						<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- TYPOGRAPHY -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Typography</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-12">
					<h1>Example heading <span class="label label-default">New</span></h1>
					<h2>Example heading <span class="label label-default">New</span></h2>
					<h3>Example heading <span class="label label-default">New</span></h3>
					<h4>Example heading <span class="label label-default">New</span></h4>
					<h5>Example heading <span class="label label-default">New</span></h5>
					<h6>Example heading <span class="label label-default">New</span></h6>
				</div>
			</div>
		</div>
	</div>

	<!-- LABELS -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Labels</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-12">
					<span class="label label-default">Default</span>
					<span class="label label-primary">Primary</span>
					<span class="label label-success">Success</span>
					<span class="label label-info">Info</span>
					<span class="label label-warning">Warning</span>
					<span class="label label-danger">Danger</span>
				</div>
				<div class="col-sm-12 break">
					<span class="label label-pill label-default">Default</span>
					<span class="label label-pill label-primary">Primary</span>
					<span class="label label-pill label-success">Success</span>
					<span class="label label-pill label-info">Info</span>
					<span class="label label-pill label-warning">Warning</span>
					<span class="label label-pill label-danger">Danger</span>
				</div>
			</div>
		</div>
	</div>

	<!-- ALERTS -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Alerts</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-success" role="alert">
					  	<strong>Well done!</strong> You successfully read this important alert message.
					</div>
					<div class="alert alert-info" role="alert">
					  	<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
					</div>
					<div class="alert alert-warning" role="alert">
					  	<strong>Warning!</strong> Better check yourself, you're not looking too good.
					</div>
					<div class="alert alert-danger" role="alert">
					  	<strong>Oh snap!</strong> Change a few things up and try submitting again.
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CARDS -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Cards</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
					  	<img class="card-img-top" src="assets/images/rin/cards.jpg" alt="318x180">
					  	<div class="card-block">
					  	  	<h4 class="card-title">Card title</h4>
					  	  	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  	  	<a href="#" class="btn btn-primary">Button</a>
					  	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-inverse">
					  	<img class="card-img" src="assets/images/rin/cards.jpg" alt="Card image">
					  	<div class="card-img-overlay">
					    	<h4 class="card-title">Card title</h4>
					    	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					    	<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					  	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card text-xs-center">
					  	<div class="card-header">
					  	  	Featured
					  	</div>
					  	<div class="card-block">
					  	  	<h4 class="card-title">Special title treatment</h4>
					  	  	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					  	  	<a href="#" class="btn btn-primary">Go somewhere</a>
					  	</div>
					  	<div class="card-footer text-muted">
					  	  	2 days ago
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- COLOR CARDS -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Colored Cards</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="card card-inverse card-primary text-xs-center">
					  	<div class="card-block">
					  	  	<blockquote class="card-blockquote">
					  	  	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					  	  	  	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
					  	  	</blockquote>
					  	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-inverse card-success text-xs-center">
					  	<div class="card-block">
					  	  	<blockquote class="card-blockquote">
					  	  	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					  	  	  	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
					  	  	</blockquote>
					  	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card card-inverse card-danger text-xs-center">
					  	<div class="card-block">
					  	  	<blockquote class="card-blockquote">
					  	  	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					  	  	  	<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
					  	  	</blockquote>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- NAVS -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Navs</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-6">
					<ul class="nav nav-tabs">
					  	<li class="nav-item">
					  	  	<a class="nav-link active" href="#">Active</a>
					  	</li>
					  	<li class="nav-item">
					  	  	<a class="nav-link" href="#">Link</a>
					  	</li>
					  	<li class="nav-item">
					  	  	<a class="nav-link" href="#">Another link</a>
					  	</li>
					  	<li class="nav-item">
					  	  	<a class="nav-link disabled" href="#">Disabled</a>
					  	</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul class="nav nav-pills">
					  	<li class="nav-item">
					  	  	<a class="nav-link active" href="#">Active</a>
					  	</li>
					  	<li class="nav-item">
					  	  	<a class="nav-link" href="#">Link</a>
					  	</li>
					  	<li class="nav-item">
					  	  	<a class="nav-link" href="#">Another link</a>
					  	</li>
					  	<li class="nav-item">
					  	  	<a class="nav-link disabled" href="#">Disabled</a>
					  	</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- ANGULAR-CHARTS.JS -->
	<div class="box component-space">
		<div class="box-header">
			<h2>Angular Charts.js</h2>
		</div>
		<hr>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="vm.lineData"
  						chart-labels="vm.lineLabels" chart-legend="true" chart-series="vm.lineSeries"
  						chart-click="vm.lineOnClick" chart-colours="vm.lineColors">
					</canvas>
				</div>
				<div class="col-sm-6">
					<canvas id="radar" class="chart chart-radar"
  						chart-data="vm.radarData" chart-labels="vm.radarLabels" chart-colours="vm.radarColors">
					</canvas>
				</div>
			</div>
		</div>
	</div>

</div>
