.outer-wrapper {
	min-height: calc(90vh - 41px);

	.feed-wrapper {
		padding-top: 15px;
		flex-direction: row;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		margin: 0 6.3% 0 140px;

		.wrapper {
			padding: 0px 10px;
		}

		feed-pagination {
			margin-top: 10px;
		}

		@media(min-width: 881px) {
			.feed-results {
				width: 56%;
			}

			.feed-info-box {
				width: 42%;
			}
		}

		@media(max-width: 880px) {
			.wrapper{
				margin: 0 auto;
			}
		}
	}
}

app-footer.peeking{
	@media(min-height: 650px) {
		position: absolute;
		bottom: 0;
	}
}


@media all and (max-width:1000px){
		.feed-wrapper{
			flex-direction: row-reverse;
			-webkit-flex-flow: column wrap;
		    flex-flow: column wrap;
		}

}
