.outer-wrapper {
	min-height: calc(90vh - 41px);

	.feed-wrapper {
		padding-top: 5vh;
		flex-direction: row;

		.wrapper {
			margin-left: 150px;
			float: left;
		}

		feed-pagination {
			margin-top: 10px;
		}

		@media(min-width: 1000px) {
			.feed-results {
				width: 632px;
			}
		}

		.feed-info-box {

			@media(min-width: 1180px) {
				width: calc(100% - 812px);
				max-width: 454px;
				margin-left: 30px;
			}
		}

		@media(max-width: 1000px) {
			.wrapper{
				margin: 0 auto;
			}
		}
	}
}

app-footer.peeking{
	@media(min-height: 650px) {
		position: absolute;
		bottom: 0;
	}
}


@media all and (max-width:1000px){
		.feed-wrapper{
			flex-direction: row-reverse;
			-webkit-flex-flow: column wrap;
		    flex-flow: column wrap;
		}

}

.searching {
	border-radius: 50%;
	margin: 10% auto;
	width: 100px;
	height: 100px;
	border: 5px solid rgb(216,27,96);
	border-top-color: rgba(216,97,96,0.2);
	animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

