@import '~styles/main';

.outer-wrapper {
	min-height: 100vh;

	.feed-wrapper {
		padding-top: 5vh;
		flex-direction: row;

		.wrapper {
			margin-left: 150px;
			float: none;

			@media(min-width: 1000px ) {
				float: left;
			}
		}

		feed-pagination {
			margin-top: 10px;
		}

		@media(min-width: 1000px) {
			.feed-results {
				width: 632px;
			}

			.user-feed-results {
				width: 1120px;
			}
		}

		.user-feed-results {
			display:flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

			.card-wrapper {

				width: 100%;

				@media(min-width: 600px) {
					width: 49%;
				}

				@media(min-width: 1000px) {
					width: 24%;
				}

				margin-bottom: 15px;
				border: 1px solid #e1e8ed;
			}

		.feed-info-box {

			@media(min-width: 1180px) {
				width: calc(100% - 812px);
				max-width: 454px;
				margin-left: 30px;
			}
		}

		@media(max-width: 1000px) {
			.wrapper{
				margin: 0 auto;
			}
		}
	}
}

@media (min-height: 550px) {
	app-footer.peeking {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
	}
}

@media all and (max-width:1000px){
		.feed-wrapper{
			flex-direction: row-reverse;
			-webkit-flex-flow: column wrap;
		    flex-flow: column wrap;
		}

}

.searching {
	border-radius: 50%;
	margin: 10% auto;
	width: 100px;
	height: 100px;
	border: 5px solid var(--accent-color, $accent-color);
	border-top-color: rgba(216,97,96,0.2);
	animation: spin 1s infinite linear;
	margin-bottom: 20px;
}

.searching-message {
	word-break: break-word;
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	margin: 0 23%;
}

.pagination {
	width: 100%;
	padding: 20px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

button {
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	padding: 5px;
	color: #2865a1;
	font-weight: 700;
	background: transparent;
	border: none;
	cursor: pointer;

	&:focus {
		border: none;
		outline: none;
	}
}
