<div class="outer-wrapper">
	<feed-header
				[searchInputControl]="_queryControl"
				(searchEvantEmitter)="handleSearchQuery()"></feed-header>

	<div class="searching">
		<!-- Hook Up the Material Design Progress Bar. -->
	</div>

	<div class="feed-wrapper">
		<div *ngIf="(areResultsAvailable$ | async)" class="wrapper">
			<div *ngFor="let item of (apiResponseResults$ | async)">
				<feed-card [feedItem]="item"></feed-card>
			</div>
			<feed-footer [query] = "(query$ | async)" [apiResponseResults]="(apiResponseResults$ | async)"></feed-footer>
		</div>

		<div class="results-not-found"
					*ngIf="!(isSearching$ | async) &&
								!(areResultsAvailable$ | async) &&
								((query$ | async).queryString)" >
			<feed-not-found [query]="(query$ | async)"></feed-not-found>
		</div>
	</div>
</div>

<!-- Peek the footer when Results are not found -->
<app-footer [class.peeking]="!(isSearching$ | async) && !(areResultsAvailable$ | async)"></app-footer>
