<div class="message" *ngIf="newsResponse.length !== 0">
  <!-- Message about total results-->
  About {{ newsResponse.length }} results
</div>
<div class="message info">
  <!-- Message about news organization file-->
  News tab shows results filtered according to news organizations. If you wish to propose or change this list, please check
  <a href="{{ defaultUrl.extras.newsOrgFileSource }}" target="_blank">here</a>.
</div>
<div *ngIf="newsResponse.length === 0">
  <div class="searching">
    <!-- Hook Up the Material Design Progress Bar. -->
  </div>
  <div class="searching-message">
    Searching top news of last 30 days.
</div>
</div>
<div class="feed-wrapper">
<div class="wrapper feed-results">
    <div *ngFor="let item of newsResponse; let i = index ">
      <feed-card [feedItem]="item" [feedIndex]="i"></feed-card>
  </div>
</div>
</div>
