<div class="feed-item">
	<p class="text">
		<span class="img-span">
			<img src="{{feedItem.user.profile_image_url_https}}">
		</span>
		<a id="profile-link" [routerLink]="['/wall']" [queryParams]="{ query : 'from:' + feedItem.user.screen_name }">
			<span class="name">{{profileName}}</span>
			<span class="screen-name">@{{feedItem.user.screen_name}}</span>
		</a>
		<span class="time">{{datetime}}</span>
		<span class="status">
			<media-wall-linker
					[text]="itemText || ''"
					[hashtags]="feedItem.hashtags || []"
					[mentions]="feedItem.mentions || []"
					[links]="feedItem.links || []"
					[unshorten]="feedItem.unshorten || {}"></media-wall-linker>
		</span>
			<span class="singleimage" *ngIf="filteredImages.length == 1">
			<img src="{{filteredImages[0]}}" class="card-image" />
			</span>
			<span class="gallery" *ngIf="filteredImages.length > 1">
				 <ul>
        			<li *ngFor="let image of filteredImages">
						<img class="card-images" src="{{image}}"  />
						</li>
				</ul>
			</span>
	</p>
	<span style="clear:both"></span>
	<span class="action-box">
		<span class="action">
			<a target="_blank" href="https://twitter.com/intent/tweet?in_reply_to={{feedItem.id_str}}">
				<i class="material-icons md-20 reply">reply</i>
			</a>
		</span>
		<span class="action">
			<a target="_blank" href="https://twitter.com/intent/retweet?tweet_id={{feedItem.id_str}}">
				<i class="material-icons md-20 retweet">repeat</i>
			</a>
			<span class="counter retweet-count">
						{{retweetCount}}
			</span>
		</span>
		<span class="action ">
			<a target="_blank" href="https://twitter.com/intent/like?tweet_id={{feedItem.id_str}}">
				<i class="material-icons md-20 like">favorite_border</i>
			</a>
			<span class="counter like-count">
						{{favoriteCount}}
			</span>
		</span>
	</span>
	<span style="clear:both"></span>
</div>
