:host {
	position: relative;
}
.box {
	border: 1px solid #ccc;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	padding: 30px;
	position: absolute;
	right: 1px;
	top: 48px;
	z-index: 1;
	background: white;
	visibility: hidden;

	&.opened {
		visibility: visible;
	}

	.tip {
		position: absolute;
		top: -10px;
		right: 12px;

		.border {
			width: 0;
			height: 0;
			position: absolute;
			right: 0;
			top: -1px;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 11px solid rgba(0,0,0,0.4);
		}

		.foreground {
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 10px solid white;
		}
	}

	.services {
		display: flex;
		flex-direction: column;

		.row  {
			display: flex;

			a {
				text-decoration: none;
				color: inherit;

				.col {
					width: 84px;
					height: 84px;
					margin: 8px 2px;
					border: 1px solid transparent;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;

					&:hover {
						border: 1px solid #ddd;
					}

					.img {
						flex: 1;
						display: flex;
						flex-direction: column;
						justify-content: center;
					}

					span {
						text-align: center;
					}
				}
			}
		}
	}
}

button {
	color: black;
	background-color: transparent;
	padding: 13px;
	display: inline-block;
	margin: 4px -2px;
	border-radius: 50%;
	height: 46px;
	width: 24px;
}

.mat-icon {
	height: 30px;
	width: 24px;
}

.mat-button {
	position: relative;
	padding: 8px;
	vertical-align: baseline;
	min-width: 48px;
	min-height: 42px;
}
