md-icon {
	position: relative;
	top:7px;
	right: 7px;
}

/deep/ .mat-tab-label:focus {
	background-color: rgba(232, 181, 221, 0.28);
}
/deep/ .mat-ink-bar{
	background-color: #ff4081;
}

div.header {
	display: flex;
	flex-wrap: row;
	align-items: baseline;

	.form-close {
	margin-left: auto;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: white;
	color: gray;
	cursor: pointer;
	}

	h1 {
		margin-right: auto;
	}

}

/deep/ .mat-dialog-container {
	overflow: hidden;
}

button::-moz-focus-inner {
  border: 0;
}
