<div class="dialog-heading">
	<h1 mat-dialog-title>Color Options</h1>
<button class="form-close" mat-dialog-close>x</button>
</div>
<div>
	<mat-tab-group color="accent">
  	<mat-tab>
    	<ng-template mat-tab-label>
				<mat-icon>border_color</mat-icon>
				Header
			</ng-template>
			<media-wall-custom-header
				[mediaWallHeader]="(wallCustomHeader$ | async)"
				(changeMediaWallHeader)="customizeHeader($event)"></media-wall-custom-header>
  	</mat-tab>
		<mat-tab>
    	<ng-template mat-tab-label>
				<mat-icon>panorama</mat-icon>
				Background
    	</ng-template>
			<media-wall-custom-background
				[mediaWallBackground]="(wallCustomBackground$ | async)"
				(changeMediaWallBackground)="customizeBackground($event)"></media-wall-custom-background>
		</mat-tab>
		<mat-tab>
  		<ng-template mat-tab-label>
				<mat-icon>portrait</mat-icon>
				Cards
			</ng-template>
			<media-wall-custom-card
				[mediaWallCard]="(wallCustomCard$ | async)"
				(changeMediaWallCard)="customizeCard($event)"></media-wall-custom-card>
  	</mat-tab>
	</mat-tab-group>
</div>
