mat-icon {
	position: relative;
	top:7px;
	right: 7px;
}

.form-close{
	border: none;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: white;
	color: gray;
	cursor: pointer;
	margin-left: auto;
}

div.dialog-heading {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

button::-moz-focus-inner {
  border: 0;
}
