:host {
	display: block;
}

.info-box {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	border-radius: 2px;
	min-height: 420px;
	width: 100%;
  margin-bottom: 20px;
}

.image-gallery {
	width: 100%;
	height: 150px;
	position: relative;
}

	.profile-banner-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.profile-image {
		position: absolute;
		bottom: 0;
		left: 50px;
		background: #FFFFFF;
		height: 75px;

		img {
			margin: 5px;
			height: calc(100% - 10px);
		}
	}

.description {
}

	.heading {
		width: 100%;
		padding: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.10);

		h2 {
			margin: 0 0 10px 0;
		}

		span {
			font-size: 13px;
			color: #777;
		}
	}

	.desc {
		padding: 15px;
	}

	.listing {
		padding: 0px 15px 15px 15px;
	}

		.list-item {
			padding: 3px 0 3px 0;

			.item-label {
				font-weight: 700;
			}
		}






