<a class="post-link"  target="_blank">
	<div class="card" (click)="showLightBox.emit({feedIndex : feedIndex , show : 'show'})">
		<div class="card-image">
			<a (click)="showHideLightbox(profileURL)">
				<img src="{{feedItem.user.profile_image_url_https}}" alt="Profile Image" width="50" height="50" />
			</a>
		</div>
		<div class="card-content">
			<div class="card-header">
				<a id="profile-link" (click)="showHideLightbox(profileURL)">
					<span class="name">
						<b>{{profileName}}</b>
					</span>
					&nbsp;
					<span class="handle">
						@{{feedItem.user.screen_name}}
					</span>
					&nbsp;
					<span class="timestamp">
						{{datetime}}
					</span>
				</a>
			</div>
			<div class="card-text">
				<feed-linker
					[text]="itemText"
					[config]="cardAutolinkerConfig" (click)="showLightBox.emit({show : 'hide'})"></feed-linker>
			</div>
			<div class="card-footer">
				<div class="action reply">
					<a target="_blank" href="https://twitter.com/intent/tweet?in_reply_to={{feedItem.id_str}}"><i class="material-icons md-20">reply</i></a>
				</div>
				<div class="action retweet">
					<a target="_blank" href="https://twitter.com/intent/retweet?tweet_id={{feedItem.id_str}}"><i class="material-icons md-20">repeat</i></a>
					<div class="counter retweet-count">
						{{retweetCount}}
					</div>
				</div>
				<div class="action like">
					<a target="_blank" href="https://twitter.com/intent/like?tweet_id={{feedItem.id_str}}"><i class="material-icons md-20">favorite_border</i></a>
					<div class="counter like-count">
						{{favouriteCount}}
					</div>
				</div>
			</div>
		</div>
	</div>
</a>
