body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
}

.searching {
	border-radius: 50%;
	margin: 10% auto;
	width: 100px;
	height: 100px;
	border: 5px solid rgb(216,27,96);
	border-top-color: rgba(216,97,96,0.2);
	animation: spin 1s infinite linear;
	margin-bottom: 20px;
}


.masonry {
  column-count: 3;
  column-gap: 0;
	padding: 10px;
}
.masonry-panel {
  break-inside: avoid;
  padding: 5px;
}

.masonry-content {
	display: inline-block;
	background: #fff;
	padding: 1em;
	margin: 0 0 1.5em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 2px 2px 4px 0 #ccc;
	overflow: auto;
	transition: box-shadow .3s;
}


.masonry-content:hover {
	box-shadow: 0 0 13px rgba(33,33,33,.2);
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .masonry {
  	column-count: 2;
  	column-gap: 0;
	}
}

@media only screen and (max-width: 600px) {
  .masonry {
  	column-count: 1;
  	column-gap: 0;
	}
}

