<div class="container" [style.background-color]="(color$ | async).background">
	<p class ="title" [style.color]= '(color$ | async).accent'>{{(query$ | async).queryString}}</p>
		<div class="widget">
			<div class="widget-panel">
				<div class="widget-content">
					<div class="gap"></div>
					<div class="scroller" *ngFor="let item of (apiResponseResults$ | async); let i = index ">
						<media-wall-card [feedItem]="item" [color]="(color$ | async)"></media-wall-card>
					</div>
				</div>
			</div>
		</div>
			<media-wall-image
		[color]="(color$ | async)"
		[mediaElements]="(mediaElements$ | async)"></media-wall-image>
</div>
<media-wall-color
	[color]="(color$ | async)"
	(loadMediaWall)="displayMediaWall($event)"
	*ngIf="!setupMediaWall"></media-wall-color>
