<div class="wrapper"
[style.background-color]="(wallCustomBackground$ | async).backgroundColor">
	<media-wall-header
	[showHideMenu]="showToolBar"
	[query]="(query$ | async).displayString"
	[wallCustomHeader]="(wallCustomHeader$ | async)"
	(showHideCustomization)="openDialog()"></media-wall-header>
	<div class="wall-wrapper" (mousemove)="displayToolBar($event)">
		<div *ngIf="(isWallSearching$ | async)">
			<div class="searching">
				<!-- Hook Up the Material Design Progress Bar. -->
			</div>
		</div>
		<div class="masonry" id="masonry"
		*ngIf="!(isWallSearching$ | async)">
			<div class="masonry-panel"
			*ngFor="let item of (apiWallResponseResults$ | async);"
			[class.paginate]="showResults && !(isWallPaginating$ | async)">
				<media-wall-card
				[feedItem]="item"
				[wallCustomCard$]="wallCustomCard$"></media-wall-card>
			</div>
		</div>
		<div class="results-not-found"
						*ngIf="!(areWallResultsAvailable$ | async) &&
									((query$ | async).queryString) &&
									!(isWallSearching$ | async )" >
				<media-wall-not-found></media-wall-not-found>
		</div>
	</div>
</div>
