body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
		background: #e9e9e9;
}

:root {
	font-size:20px;
}

.scroll-hide::-webkit-scrollbar {
	display: none;
}

div.align-searching{
	display: flex;
	justify-content: center;
	align-self: auto;
}

.searching {
	position: absolute;
	top: 40%;
	opacity: 0;
	animation: flickerAnimation 2.5s infinite;
}

.wall-wrapper {
	min-height: 100vh;
	padding: 10px;
}

masonry {
	margin-top: 65px;

	&.hidden-header {
		margin-top: 5px;
	}

	@media(max-width: 600px) {
		margin-top: 110px;

	}
}

.brick {
	width: 20%;
	padding: 4px;
}

@media only screen and (max-width: 600px) {
	:root {
		font-size: 14px;
	}

  .brick {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
	:root {
		font-size: 16px;
	}

  .brick {
		width: 50%;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	:root {
		font-size: 16px;
	}

  .brick {
		width: 33%;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	:root {
		font-size: 18px;
	}

  .brick {
		width: 25%;
	}
}

@keyframes flickerAnimation {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
