.form-close{
	position: fixed;
	top: 12% ;
	right: 19% ;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: white;
	color: gray;
	cursor: pointer;
	margin-left: auto;
}

div.dialog-heading {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

button::-moz-focus-inner {
  border: 0;
}

div.full-width {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	align-items: baseline;

	div.slider {
		flex: 1;
		margin: 22px;
	}

	div.input-group {
		flex:1;
		display: flex;
		flex-direction: row;

		input {
			cursor: pointer;
		}
	}
}

.form-label {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 9.5em;
	margin: 0 1em 0 1em;
	padding: 0.6em;
}

input {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  *display: inline;
  *zoom: 1;
	width: 67%;
}

span.apply-button {
	margin: 30px auto;

	button {
		border: none;
		color: white;
		background-color: #3f51b5;
		padding: 10px 25px;
		font-size: 16px;
		border-radius: 5px;
		text-decoration: none;
		margin-top: 10px;
		cursor: pointer;

		.material-icons {
			position: relative;
			top: 4px;
			right: 5px;
		}
	}
}

#media_wd_heading {
	font-size: 30px;
}

#selectedFeedsId {
	margin-top:8px;
	margin-left:30px;
	width: 20%;
}

#selectedCardId {
	margin-top:20px;
}

#selectedColumnId {
	margin-top:10px;
	width: 50%;
}

#count1 {
	margin-right: 20px;
	width: 40%;
}

#card_style {
	 margin-top: 12px;
}
