:host {
	display: block;
}

button {
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	padding: 5px;
	color: #2865a1;
	font-weight: 700;
	background: transparent;
	border: none;
	cursor: pointer;

	&:focus {
		border: none;
		outline: none;
	}
}

.loading {
	border-radius: 50%;
	margin: 0 auto;
  width: 24px;
  height: 24px;
  border: 2px solid rgb(216,27,96);
  border-top-color: rgba(216,97,96,0.2);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
