:host {
	display: block;
}

button {
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	padding: 5px;
	color: #2865a1;
	font-weight: 700;
	background: transparent;
	border: none;
	cursor: pointer;
}

button:focus{
	border: none;
	outline: none;
}
