/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
