<div class="outer-wrapper">
	<div class="wrapper">
		<app-lazy-img src="{{headerImageUrl}}" alt="loklak Search - Distributed Social Media Message Search Engine"
			title="loklak Search - Distributed Social Media Message Search Engine" width="125" height="145"></app-lazy-img>

		<h1><span class="loklak">loklak</span>&nbsp;Search!</h1>

		<div class="search-form">

			<div class="search-input" [class.focused]="inputFocused">
					<input type="text" id="search" name="search" [formControl]="_queryControl"
									(focus)="inputFocused=true" (focusout)="inputFocused=false"/>
					<i id="search-suffix-icon" class="material-icons material-icons.md-dark">search</i>
			</div>

		</div>


		<div class="help-text">
			Use <span class="highlight">#hashtag</span>;&nbsp;
			<span class="highlight">"search text"</span> for exact matches;&nbsp;
			<span class="highlight">near:location</span> finds messages near a location;&nbsp;
			<span class="highlight">@user</span> finds user mentions;&nbsp;
			<span class="highlight">from:user</span> shows messages of a user;&nbsp;
			<span class="highlight">followers:user</span> find followers of a user.
		</div>

			<div class="top-hashtags-wrapper">
				<div class="top-hashtags" *ngIf="trendingHashtagList.length">
					<i class="material-icons trending" mdTooltip="Trending Hashtags">trending_up</i>
					<div class="hashtag-list">
						<span *ngFor ="let hashtag of (trendingHashtagList.slice(0,9))" class="hashtag">
							<a [routerLink]="['/search']"
								[queryParams]="{ query : '#' + hashtag }"><pre>#{{hashtag}}</pre></a>&nbsp;&nbsp;
						</span>
					</div>
				</div>
			</div>
	</div>
</div>
<app-footer></app-footer>
