:host{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 500px;
	margin-top: -10vh;

	h1 {
		font-weight: 300;
		text-align: center;
		font-size: 2.5em;
		margin: 20px 0px;
	}

	h5 {
		text-align: center;
	}

	div.search-form {
			width: 100%;

		div.input-group{
			padding: 10px;

			label {
				visibility: hidden;
				display: none;
			}

			input {
				font-size: 16px;
				word-spacing: 1.5pt;
				letter-spacing: 0.5pt;
				box-shadow: none;
			}

			input:focus {
				box-shadow: none;
				border-color: #4285f4;
			}

			input,
			span.input-group-btn button {
				height: 40px;
				background: transparent;
			}
		}
	}

	app-footer {
		position: absolute;
		bottom: 0;
		left: 0;

		@media(max-width: 768px) {
			transform: translateY(100%);
		}

		@media(orientation: landscape) and (max-height: 500px) {
			transform: translateY(100%);
		}
	}
}
