:host{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position:relative;
}

div.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 500px;
	margin-bottom: 50px;
	img{
		max-width:25%;
		height:auto;
	}
	h1 {
		font-weight: 300;
		text-align: center;
		font-size: 2.5em;
		margin: 15px 0px 0px 0px;
    	font-family: 'Roboto', sans-serif;
    	.loklak{
    		background:#f9f2f4;
    		color:#d10042;
    		font-family: Courier New;
    	}
	}


	h5 {
		text-align: center;
	}

	div.search-form {
			background-color: #fff;
			height: 44px;
			vertical-align: top;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
			margin: 20px 0px 20px 0;
			min-width: 584px;
			border: 0 !important;
			outline: 0 !important;
			transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

		div.input-group{
			border: 0 !important;
			height: 44px;
			width: 100%;

			label {
				visibility: hidden;
				display: none;
			}

			input {
			  padding: 10px 15px;
				font-size: 16px;
				word-spacing: 1.5pt;
				letter-spacing: 0.5pt;
				box-shadow: none;
				width :100%;
				border : 0 !important;
				outline :0 !important;
				font: 16px arial,sans-serif;
				line-height: 44px;
    		height: 44px !important;
    		min-width: 440px;
				background: #FFFFFF !important;
			}

			input:focus {
				box-shadow: none;
				border-color: none;
				cursor: text;

			}

			span.input-group-btn button {
				height: 40px;
				background: transparent;
				cursor: pointer;
			}
			input{
				cursor: text;
			}

		}
	}
	div.search-form:hover{
			box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	}
	.help-text{
			font-size: 10pt;
			text-align: center;

			.highlight{
				background-color: #eeeeee;
    			border-radius: 6px;
    			padding: 1px 3px;
			}
	}

	app-footer {
		position: absolute;
		bottom: 0;
		width: 100vw;
	}
}

@media screen and (max-width:880px) {
	div.wrapper {
		div.search-form {
			min-width:260px;
			margin: 20px 15px 20px 15px;


				input{
				min-width : 230px !important;
			}

		}

	}


}
