	div.tabslist {
		position: absolute;
		top: 90px;
		left: 145px;
		width: 100%;

		ul {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			align-content: center;
			width: 661px;

			li {
				margin-right: 15px;
				margin-left: 15px;
				cursor: pointer;
				padding-left: 6px;
				padding-right: 6px;
				color: #777;
				font-weight: 500;
			}
			div.gap {
				width: 260px;
			}

			li.active_view {
			color: #4285f4 !important;
			font-weight: 900 !important;
			padding-bottom: 7px;
			border-bottom: 3px solid #4285f4;
		}
	}
}

div.options-tray {
	position: absolute;
	top: 123px;
	left: 145px;
	width: 100%;
	font-size: small;
	color: #808080;

	div.result-count {
		margin: 12px 0 0 20px;
	}

	div.advanced-search {
		ul {
			display: flex;
			flex-direction: row;
			align-content: flex-start;

			li{
				margin-right: 15px;
				margin-left: 15px;
				cursor: pointer;
			}
		}
		i.material-icons {
			position: relative;
			top: 5px;
		}
	}
}

@media all and (max-width: 1000px){
	div.tabslist{
		top: 120px;
		left: 20px;
		width: calc(100% - 20px);

		ul {
			width: 100%;
			li {
				margin-left:1%;
				margin-right:1%;
			}
			div.gap {
				width:50%;
			}
		}
	}
	div.options-tray {
		left: 0px;
		top: 150px;
	}
}
