div.wrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 767px;

	div.tab-list {
		margin-left: 150px;
		flex: 1;
		display: flex;
		flex-direction: row;

		button.tab {
			cursor: pointer;
			min-width: 50px;
			background:  transparent;
			border: none;
			padding: 10px;
			margin-right: 15px;
			color: #777;
			text-align: center;
			font-size: 0.9em;
			font-weight: 500;
		}

		button.tab.selected {
			color: #4285f4;
			border-bottom: 3px solid #4285f4;
			outline: none;
		}
	}

	div.tools {
		display: flex;
		flex-direction: row;
		align-items: baseline;

		md-button-toggle {
			margin: 0px 3px;
			color: #777;
			border: 1px solid transparent;
			border-radius: 2px;
			box-shadow: none;
		}

		button.toggleButton {
			color: #777;

			&.pressed {
				background-color: #e0e0e0;
			}
		}

		.tool-list {
			position: absolute;
			left: 150px;
			top: 35px;
			padding: 10px 5px;
			margin: 0px 10px;
			pointer-events: none;

			.search-tools, .message {
				transform: translate(0, -100%);
				transition: transform 0.1s ease-in-out, opacity 0.05s ease-in-out;
			}

			.search-tools {
				display: flex;
				opacity: 0;

				button.toggleButton {
					color: #777;

					&.pressed {
						background-color: #e0e0e0;
					}
				}
			}

			.message {
				opacity: 1;
			}
		}

		.tool-list.show {
			pointer-events: auto;

			.search-tools, .message {
				transform: translate(0, 0);
			}

			.search-tools {
				opacity: 1;
			}

			.message {
				opacity: 0;
			}
		}
	}
}
@media (max-width: 768px) {
	div.wrapper {
		div.tab-list {
			margin-left: 0px;
			justify-content: space-around;
		}

		div.tools {
			margin-left: 0px;
			justify-content: space-around;
			.tool-list {
				left: 0;
			}
		}
	}
}

.media-wall-route {
	text-decoration: none;
	color: rgba(0,0,0,.87);
}
