:host{
	width: 100%;
}

div.search-form {
	div.input-group{
		width: 100%;
		padding: 10px;

		label {
			visibility: hidden;
			display: none;
		}

		input {
			font-size: larger;
		}

		input,
		span.input-group-btn button {
			height: 40px;
			background: transparent;
		}

		input:focus{
			background: white;
		}

		span.input-group-btn button:focus~input{
			background: white;
		}
	}
}
