<div class="form-group search-form">
	<div class="input-group">
		<label for="search">Search On Loklak.</label>

		<input type="text" class="form-control" id="search" required
						[(ngModel)]="searchModel.query" name="query" placeholder="I'm feeling Awsome!">

		<span class="input-group-btn">
			<button class="btn btn-default" role="button" type="button"
							aria-roledescription="Search the web using loklak search.">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</button>
		</span>
	</div>
</div>
