<app-navbar></app-navbar>
<div class="image-banner">
  <img src="../../assets/images/banner.jpg" class="img-responsive banner">
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h1>URL Configuration</h1>
      <div class="url-container" *ngFor="let key of urlObject">
        <h2>{{key[0]}}</h2>
        <div class="row">
          <div class="row" *ngFor="let value of key[1]">
            <div class="col-4 ">
              <h4>{{value}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <h1>News Configuration</h1>
      <div class="url-container" *ngFor="let key of newsConfigOrgs">
        <h4 class="news">{{key}}</h4>
      </div>
    </div>

  </div>
  <hr>
  <h3>Contact Us</h3>
  <p>
    If you would like to get in touch with us, you find our details on the
    <a routerLink="/contact" target="_self">contact page</a>.
  </p>
</div>
<app-footer></app-footer>