

.card {
	margin:30px;
	background: white;
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	height: 400px;
	word-wrap: break-word;
}
.card:hover {
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
#url { 	
	top:0;
	width:80%;
	text-align: center;
	margin:auto;
}
#url >#url {
	font-size: 3em;
}
#main {
	top:0;
	height:fit-content;
	width: 100%;
	background-color: rgb(231, 229, 229);
}
@media screen and (max-width: 1300px) {
	.card {
	   margin:10px;
	}
	#url {
	   width:90%;
	}
}